body {
  background-color: #1a1a2e;
  color: #ffffff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 { color: #e94560; margin-bottom: 10px; }
p { color: #aeb6bf; }

/* --- СТИЛИ ДЛЯ МЕНЮ --- */
.menu-wrapper {
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
  position: relative;
  z-index: 100;
}

.cave-wrapper {
    /*display: none; */
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
    position: relative;
    z-index: 100;
}

.main-menu-btn, .cave-menu-btn {
  background-color: #16213e;
  border: 2px solid #0f3460;
  color: white;
  padding: 15px;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.3s;
}

.main-menu-btn:hover, .cave-menu-btn:hover { background-color: #0f3460; }

.dropdown-content {
  display: none;
  background-color: #1a1a2e;
  border: 1px solid #0f3460;
  border-radius: 0 0 10px 10px;
  margin-top: 5px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.5);

  position: relative;
}

.show { display: block; animation: slideDown 0.3s; }

@keyframes slideDown {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}

.dropdown-content button {
  background: none;
  border: none;
  border-bottom: 1px solid #0f3460;
  color: #e94560;
  padding: 15px;
  width: 100%;
  text-align: left;
  font-size: 16px;
  cursor: pointer;
}

.dropdown-content button:hover { background-color: #16213e; }
.dropdown-content button:last-child { border-bottom: none; }


/* Контейнер для предметов (скрыт) */
.inventory-container, .planet-container, .cave-container {
    display: none; /* Скрыто */
    background-color: #121826; /* Чуть темнее фона меню */
    border-left: 2px solid #e94560; /* Красная полоска слева для красоты */
    margin-left: 10px; /* Отступ слева (лесенка) */
}

/* Кнопки самих предметов */
.inventory-item-btn, .planet-item-btn, .cave-item-btn {
    font-size: 14px;
    padding: 10px;
    color: #aeb6bf;
    border-bottom: 1px dashed #333;
}

.inventory-item-btn:hover, .planet-item-btn:hover, .cave-item-btn:hover {
    background-color: #1f2a40;
    color: white;
}

#user_coordinate {
  margin-top: 5px;       /* Отступ сверху, чтобы меню не прилипало */
  transition: all 0.3s;   /* Плавное движение при открытии меню */
  font-size: 20px;        /* Размер шрифта */
  color: white;         /* Цвет (голубой неон) */
  text-align: center;
  width: 100%;
}

.hidden {
    display: none !important;
}