body {
  background-color: #1a1a2e;
  color: #ffffff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 { color: #e94560; margin-bottom: 10px; }
p { color: #aeb6bf; }

/* --- СТИЛИ ДЛЯ МЕНЮ --- */
.menu-wrapper {
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
  position: relative;
  z-index: 100;
}

.main-menu-btn {
  background-color: #16213e;
  border: 2px solid #0f3460;
  color: white;
  padding: 15px;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.3s;
}

.main-menu-btn:hover { background-color: #0f3460; }

.dropdown-content {
  display: none;
  background-color: #1a1a2e;
  border: 1px solid #0f3460;
  border-radius: 0 0 10px 10px;
  margin-top: 5px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.5);
}

.show { display: block; animation: slideDown 0.3s; }

@keyframes slideDown {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}

.dropdown-content button {
  background: none;
  border: none;
  border-bottom: 1px solid #0f3460;
  color: #e94560;
  padding: 15px;
  width: 100%;
  text-align: left;
  font-size: 16px;
  cursor: pointer;
}

.dropdown-content button:hover { background-color: #16213e; }
.dropdown-content button:last-child { border-bottom: none; }

#res {
  width: 100%;
  max-width: 400px;
}

.planet-btn {
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  text-align: left;
  position: relative;
}

.btn-travel {
  background: linear-gradient(45deg, #0f3460, #16213e);
  color: #4cc9f0;
  border: 1px solid #4cc9f0;
}

.btn-locked {
  background-color: #2c2c2c;
  color: #aaa;
  border: 1px dashed #555;
}

.price-tag {
  font-size: 12px;
  color: #e94560;
  display: block;
  margin-top: 5px;
}

#get_planet {
  background-color: #e94560;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 50px;
  margin-bottom: 20px;
  cursor: pointer;
  box-shadow: 0 0 15px rgba(233, 69, 96, 0.5);
}
/* Контейнер для предметов (скрыт) */
.inventory-container {
    display: none; /* Скрыто */
    background-color: #121826; /* Чуть темнее фона меню */
    border-left: 2px solid #e94560; /* Красная полоска слева для красоты */
    margin-left: 10px; /* Отступ слева (лесенка) */
}

/* Кнопки самих предметов */
.inventory-item-btn {
    font-size: 14px;
    padding: 10px;
    color: #aeb6bf;
    border-bottom: 1px dashed #333;
}

.inventory-item-btn:hover {
    background-color: #1f2a40;
    color: white;
}